body {
	background-color: #505050;
	color: #CCCCCC;
}

.header {
    height:100px;
    background:#0F0F0F;
    position: fixed;
    top: 0px;
    width: 100%;
}
.container {
	margin-top: 120px;
}

.form-control {
	width: 100%;
	align-content: center;
}
